---
import ModeToggle from "./ModeToggle";
import { Folder } from "lucide-react"
import { cn } from "@/lib/utils";

import { buttonVariants } from "@/components/ui/button"
import { Progress } from "@/components/ui/progress"

import {getDiskInfoStorage} from '@/lib/getDiskInfo'

const recentDirectories = ["/files", "/files/Documents", "/files/Pictures"]
const pinnedDirectories = ["/files/Documents/Work", "/files/Pictures/Vacation"]

if (!Astro.locals.user) {
    return
}

const diskInfo = await getDiskInfoStorage(Astro.locals.user?.scope as string)
---

<div class="px-1">
    <ModeToggle className='m-2' client:visible></ModeToggle>

    <h1 class="p-2 font-bold text-lg">Welcome, {Astro.locals.user?.username}</h1>

    <div class='w-full p-2'>
        <Progress value={diskInfo.used/diskInfo.totalSize*100} className='w-full h-2'/>
        <label class="text-xs font-semibold text-muted-foreground">{Math.round(diskInfo.used)} GB used of {Math.round(diskInfo.totalSize)} GB</label>
    </div>

    <div class="p-2 flex flex-col items-start">
        <h3 class="font-semibold mb-2">Recent Directories</h3>
        {recentDirectories.map(directory => (
            <a class={cn(buttonVariants({variant: "ghost"}), "hover:bg-muted w-full justify-start")} href={directory}>
                <Folder className="w-4 h-4 mr-2"/>
                {directory.replace("files", "").split("/")[directory.split("/").length-1] || "Home"}
            </a>
        ))}
    </div>
    <div class="p-2">
        <h3 class="font-semibold mb-2">Pinned Directories</h3>
        {pinnedDirectories.map(directory => (
            <a class={cn(buttonVariants({variant: "ghost"}), "hover:bg-muted w-full justify-start")} href={directory}>
                <Folder className="w-4 h-4 mr-2"/>
                {directory.replace("files", "").split("/")[directory.split("/").length-1] || "Home"}
            </a>
        ))}
    </div>
</div>