---
import ModeToggle from "./ModeToggle";
import { cn } from "@/lib/utils";
import { db } from "@/lib/db";
import * as fs from 'fs';

import { buttonVariants } from "@/components/ui/button"
import { Progress } from "@/components/ui/progress"

import {getDiskInfoStorage} from '@/lib/getDiskInfo'

import type { DatabaseUser, DatabaseShare} from '@/types'

import { getFileIcon, getFolderIcon } from '@/lib/getIcons'

const recentDirectories = ["/files", "/files/Documents", "/files/Pictures"]

if (!Astro.locals.user || !Astro.locals.user.scope) {
    return
}

const diskInfo = await getDiskInfoStorage(Astro.locals.user?.scope as string)

const userShares = JSON.parse((db.prepare(`SELECT shares FROM user WHERE id='${(Astro.locals.user?.id as string)}'`).get() as DatabaseUser).shares) as string[]
const shares =( db.prepare("SELECT * FROM share").all() as DatabaseShare[]).filter(share => {
    if (userShares.includes(share.id) && (!share.expires_at || new Date(share.expires_at) > new Date())) {
        return true
    }
})

let pinnedFiles = JSON.parse((db.prepare(`SELECT pinned_files FROM user WHERE id='${(Astro.locals.user?.id as string)}'`).get() as DatabaseUser).pinned_files)
pinnedFiles = pinnedFiles.map((pinnedFile: string) => {

    if (Astro.locals.user?.scope) {
        if (fs.existsSync(pinnedFile)) {
            return {path: "/files/" + pinnedFile.replace(Astro.locals.user.scope, ""), isDirectory: fs.lstatSync(pinnedFile).isDirectory(), exists: true}
        } else {
            return {path: "/files/" + pinnedFile.replace(Astro.locals.user.scope, ""), isDirectory: false, exists: false}
        }
    } else {
        console.warn("This should never happen")
        return ""
    }
})



if (userShares.length != shares.length) {
    // User has a share that doesn't exist
    console.warn("User has a share that doesn't exist")
}

---

<div class="px-1">
    <ModeToggle className='m-2' client:visible></ModeToggle>

    <h1 class="p-2 font-bold text-lg">Welcome, {Astro.locals.user?.username}</h1>

    <div class='w-full p-2'>
        <Progress value={diskInfo.used/diskInfo.totalSize*100} className='w-full h-2'/>
        <label class="text-xs font-semibold text-muted-foreground">{Math.round(diskInfo.used)} GB used of {Math.round(diskInfo.totalSize)} GB</label>
    </div>

    {
        Astro.locals.user.admin ?
        <div class="w-full px-2">
            <a class={cn(buttonVariants({variant: "outline"}), "hover:bg-muted w-full text-center")} href="/admin">
                Admin
            </a>
        </div>
        :
        <></>
    }

    <div class="w-full px-2 mt-2">
        <div class={cn(buttonVariants({variant: "outline"}), "hover:bg-destructive w-full text-center cursor-pointer")}>
            Logout
        </div>
    </div>

    <div class="p-2 flex flex-col items-start">
        <h3 class="font-semibold mb-2">Recent Directories</h3>
        {recentDirectories.map(directory => (
            <a class={cn(buttonVariants({variant: "ghost"}), "hover:bg-muted w-full justify-start")} href={directory}>
                <img src={getFolderIcon(directory.replace("files", "").split("/")[directory.split("/").length-1] || "Home")} class="w-5 h-5 mr-2" />
                {directory.replace("files", "").split("/")[directory.split("/").length-1] || "Home"}
            </a>
        ))}
    </div>
    <div class="p-2">
        <h3 class="font-semibold mb-2">Pinned Files</h3>
        {pinnedFiles.map((directory: {path: string, isDirectory: boolean, exists: boolean}) => (

            directory.exists == false ? 
            <div class={cn(buttonVariants({variant: "ghost"}), "w-full justify-start text-muted hover:text-muted")}> 
                <div class="w-5 h-5 mr-2"></div>
                {directory.path.replace("files", "").split("/")[directory.path.split("/").length-1] || "Home"}
            </div>
            :
            <a class={cn(buttonVariants({variant: "ghost"}), "hover:bg-muted w-full justify-start")} href={directory.path}>
                {directory.isDirectory ?
                    <img src={getFolderIcon(directory.path.replace("files", "").split("/")[directory.path.split("/").length-1] || "Home")} class="w-5 h-5 mr-2" />
                    :
                    <img src={getFileIcon(directory.path.replace("files", "").split("/")[directory.path.split("/").length-1] || "Home")} class="w-5 h-5 mr-2" />
                }
                {directory.path.replace("files", "").split("/")[directory.path.split("/").length-1] || "Home"}
            </a>
        ))}
    </div>
    <div class="p-2">
        <h3 class="font-semibold mb-2">Shares</h3>
        {shares.map(share => (
            <div class={cn(buttonVariants({variant: "ghost"}), "hover:bg-muted w-full justify-start")}>
                {share.type == "directory" ? 
                    <img src={getFolderIcon(share.local_path.split("/")[share.local_path.split("/").length - 1])} class="w-5 h-5 mr-2" />
                    :
                    <img src={getFileIcon(share.local_path.split("/")[share.local_path.split("/").length - 1])} class="w-5 h-5 mr-2"/>
                }
                {share.local_path.split("/")[share.local_path.split("/").length - 1]}
            </div>
        ))}
    </div>
</div>