---
import { db } from "@/lib/db";
import type { DatabaseConfig } from "@/types";
import "@/styles/globals.css";
import FileContentView from "@/components/ContentFile/FileContentView";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import fs from "fs/promises";
import { isText } from "istextorbinary";

import { fileTypeFromBuffer } from "file-type";
if (!Astro.locals.user?.admin) {
    return new Response(
        JSON.stringify({
            error: "",
        }),
        {
            status: 404,
        },
    );
}

if (!Astro.params.id) {
    return new Response(
        JSON.stringify({
            error: "",
        }),
        {
            status: 404,
        },
    );
}

const config = db.prepare("SELECT * FROM config").get() as DatabaseConfig;

const collaboraURL = config.collabora_url;
const WOPIHost = config.wopi_host;

let fileContent: Buffer | undefined = await fs.readFile(
    `backups/${Astro.params.id}`,
);
const isTextFile = isText(
    `backups/${Astro.params.id}`,
    fileContent,
    () => {},
) as unknown;
const fileType = await fileTypeFromBuffer(fileContent);

if (!isTextFile) {
    fileContent = undefined;
}
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="FileBrowser login" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Backup</title>
        <ViewTransitions />
    </head><body>
        <main class="overflow-hidden h-full w-full">
            <FileContentView
                relativePath={Astro.params.id}
                absolutePath={Astro.params.id}
                fileContent={fileContent}
                isText={isTextFile as boolean}
                fileExt={fileType?.ext}
                fileType={fileType?.mime}
                userId={Astro.locals.user.id}
                collaboraURL={collaboraURL}
                type="backup"
                id={Astro.params.id}
                WOPIHost={WOPIHost}
                client:only="react"
            />
        </main>
    </body>
</html>
